* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    list-style: none;
}

:root {
    --color-primary: #191d2b;
    --color-secondary: #10d3cc;
    --color-white: #FFFFFF;
    --color-black: #000;
    --color-grey0: #f8f8f8;
    --color-grey-1: #dbe1e8;
    --color-grey-2: #b2becd;
    --color-grey-3: #6c7983;
    --color-grey-4: #454e56;
    --color-grey-5: #2a2e35;
    --color-grey-6: #12181b;
    --br-sm-2: 14px;
    --box-shadow-1: 0 3px 15px rgba(0,0,0,.3); 
}

body {
    background-color: var(--color-primary);
    font-family: 'Rubik', sans-serif;
    font-size: 1.1rem;
    color: var(--color-white);
    transition: all .4s ease-in-out;
}

a {
    display: inline-block;
    text-decoration: none;
    color: inherit;
    font-family: inherit;
}

header {
    height: 100vh;
    color: var(--color-white);
    overflow: hidden;
}

section {
    min-height: 100vh;
    width: 100%;
    position: absolute;
    left: 0;
    top: 0;
    padding: 3rem 18rem;
}

.section {
    transform: translateY(-100%);
    transition: all 4s ease-in-out;
    background-color: var(--color-primary);
}

.sec1 {
    display: none;
    transform: translateY(0) scale(1);
}

.sec2 {
    display: none;
    transform: translateY(0) scale(1);
}

.sec3 {
    display: none;
    transform: translateY(0) scale(1);
}

.sec4 {
    display: none;
    transform: translateY(0) scale(1);
}

.active {
    display: block;
    animation: scaleAnim 1s ease-in-out;
    @keyframes scaleAnim {
        0% {
            transform: translateY(-100%) scaleY(0)
        }
        100% {
            transform: translateY(0) scaleY(1)
        }
    }
}

.controls {
    position: fixed;
    z-index: 10;
    top: 50%;
    right: 3%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transform: translateY(-50%);
    .active-btn {
        transition: all .4s ease-in-out;
        i {
            color: var(--color-secondary) !important;
        }
    }
    .control {
        padding: 1rem;
        cursor: pointer;
        width: 20px;
        height: 20px;
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 2.5rem 0;
        i {
            font-size: 2rem;
            color: var(--color-grey-2);
            pointer-events: none;
        }
    }
}

.header-content {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    height: 100%;
    .left-header {
        display: flex;
        align-items: center;
        position: relative;
    }
    .right-header {
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding-right: 18rem;
        .name {
            font-size: 3rem;
            span {
                color: var(--color-secondary);
            }
        }
        p {
            margin-top: 1.5rem;
            line-height: 2rem;
        }
    }
    .image {
        border-radius: var(--br-sm-2);
        height: 90%;
        width: 68%;
        margin-left: 4rem;
        background-color: var(--color-black);
        transition: all 4s ease-in-out;
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            transition: all .4s ease-in-out;
        }
    }
}

.main-title {
    text-align: center;
    h2 {
        position: relative;
        font-size: 4rem;
        font-weight: 700;
        span {
            color: var(--color-secondary);
        }
        .bg-text {
            position: absolute;
            top: 50%;
            left: 50%;
            color: var(--color-grey-5);
            transition: all .4s ease-in-out;
            z-index: -1;
            transform: translate(-50%, -50%);
            font-weight: 800;
            font-size: 4.3rem;
        }
    }
}

.about-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-top: 2rem;
    padding-top: 3.5rem;
    padding-bottom: 3rem;
    h4 {
        font-size: 2rem;
        color: var(--color-grey-1);
    }
    p {
        margin-top: .5rem;
        line-height: 2rem;
        padding: 1rem;
        color: var(--color-grey-1);
    }
}

.skills-container .my-skills {
    text-align: center;
    font-size: 2rem;
    color: var(--color-grey-1);
    margin-bottom: 1rem;
}

.tech-skills {
    display: flex;
    align-items: center;
    justify-content: space-between;
    svg {
        width: 72px;
        height: 72px;
    }
    p {
        text-align: center;
        color: var(--color-grey-1);
    }
}

.portfolio-text {
    font-size: 2rem;
    font-weight: 700;
    color: var(--color-grey-1);
    padding: 2rem 0;
    margin-top: 2rem;
    text-align: center;
}

.portfolios {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
    margin-top: 3rem;
    .portfolio-items {
        position: relative;
        border-radius: 15px;
        img {
            width: 100%;
            height: 300px;
            object-fit: contain;
            border-radius: 15px;
        }
        .hover-items {
            width: 100%;
            height: 100%;
            background-color: var(--color-secondary);
            position: absolute;
            left: 0;
            top: 0;
            border-radius: 15px;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            h3 {
                font-size: 1.5rem;
                color: var(--color-white);
                margin-bottom: 1.5rem;
            }
            .icons {
                display: flex;
                justify-content: center;
                align-items: center;
                .icon {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    margin: .5rem;
                    cursor: pointer;
                    transition: all .4s ease-in-out;
                    &:hover i {
                        color: var(--color-black);
                        transition: all .4s ease-in-out;
                    }
                }
            }
        }
    }
}